doctype html 
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.css")
        title Capybara Adaptive Slider
    body 
        .container 
            
            h1 
              |CAPYBARA  
              u
               i 
                 s AdAptIVe
              span  SLIDER 
            .slider 
                .slider-line
                    img(class="firstphoto" src="./img/capa1.png", alt="smiling capybara", srcset="")
                    img(src="./img/capa2.png", alt="chilling capybara", srcset="")
                    img(src="./img/capa3.png", alt="capybara with orange", srcset="")
                    img(src="./img/capa4.png", alt="side photo of capybara", srcset="")
                    img(src="./img/tacobara-funny-capybara-tacos-eq-designs-transparent.png", alt="capybara in tacos", srcset="")
            .buttons 
                button.slider-back BACK
                button.slider-next NEXT
                

    script(src="./script.js") 